<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>Empleados</head>
<body>
<h1>Listado de empleados de la empresa</h1>
<table><thead>
<tr><th>ID</th><th>Nombre</th><th>Email</th><th>Salario</th>
    <th>En Activo</th><th>Género</th><th>Editar</th><th>Borrar</th></tr>
</thead>
    <tbody>
    <tr th:each="empleado:${listaEmpleados}">
        <td th:text="${empleado.id}">Id</td>
        <td><a th:href="@{/{id}(id=${empleado.id})}"
            th:text="${empleado.nombre}">nombre</a></td>
        <td th:text="${empleado.email}">email@gmail.com</td>
        <td th:text="${empleado.salario}">0</td>
        <td th:text="${empleado.enActivo}">bool</td>
        <td th:text="${empleado.genero}">genero</td>
        <td><a th:href="@{/editar/{id}(id=${empleado.id})}">Editar</a></td>
        <td><a th:href="@{/borrar/{id}(id=${empleado.id})}">Borrar</a></td>
    </tr>
    </tbody></table>
<p th:if="${msg!=null}">Error: <span th:text="${msg}">err</span></p>
<a th:href="@{/}">Inicio</a><br/>
<a th:href="@{/nuevo}">Nuevo empleado</a><br/>
</body>
</html>